# 1. Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# 2. Virtual environment
venv/
env/
.env

# 3. Large external datasets (>100MB / raw zips)
data/raw/nba_finals/
data/raw/social_bursts/
data/raw/rem_original/
data/raw/paris_attack/
data/raw/sanremo/
data/processed/nba_finals/
data/processed/paris_attack/
data/processed/sanremo/

# 4. IDE Settings
.vscode/
.idea/